body {
	font-family: Monospace;
	background-color: #000;
	color: #000;
	margin: 0px;
	overflow: hidden;
}

#info {
	text-align: center;
	padding: 10px;
	z-index: 10;
	width: 100%;
	position: absolute;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { display: none }